%border-radius {
    border-radius: $br;
}

%grid {
    @extend %border-radius;
    color: $grid-text-color;
    margin-top: 10px;
    height: 40px;
    padding-left: 10px;
}

%button {
    @extend %border-radius;
    display: block;
    border: none;
    text-transform: uppercase;
    height: 40px;
    color: $white;
    width: 95%;
    margin: 20px auto;
    padding: 10px 50px;
    &:hover {
        opacity: .7;
        transition-duration: $trans-time;
    }
}

%clearfix {
&:after {
    content: "";
    display: table;
    clear: both;
}
}    

%text-center {
    text-align: center;
}