// Colors

$white: #fff;

$color-text-primary: #858585;
$grid-text-color: #535353;

$viking: #58e1c1;           
$malibu: #55defd;           
$emerald: #63cc82;          
$sunglo: #e4757a;           
$coral: #fd7856;            
$east-side: #9a85c7;        

$french-lilac: #deb2ee;     
$anakiwa: #7ee6fd;          
$vista-blue: #88d9a0;       
$shakespeare: #3fabca;      
$sea-pink: #ec9fa3;         
$vivid-tangerine: #fd9f85;  
$riptide: #80e8d1;          

//  Theme colors
$theme: (
    'viking': $viking,          // default button
    'malibu':$malibu,           // secondary color
    'emerald': $emerald,        // success button
    'sunglo': $sunglo,          // error button
    'coral': $coral,            // warning button
    'east side': $east-side,    // info button

//  Grid colors

    '3':$french-lilac,      // column 3
    '4':$anakiwa,           // column 4
    '5':$vista-blue,        // column 5
    '6':$shakespeare,       // column 6
    '7':$sea-pink,          // column 7
    '8':$vivid-tangerine,   // column 8
    '12':$riptide,          // column 12
);

// Layout 

$max-width: 1400px;
$margin-start: 40px;
$margin-end: 80px;

// Border radius

$br: 5px;

// Paths



// Font stacks

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');

$stack-open-sans: 'Open Sans', 'Arial', sans-serif;
$font-weight-light: 300;
$font-weight-reg: 400;
$font-weight-bold: 800;

// Grid

$g-col-width   : 65px;
$g-gutter-width: 20px;
$g-col-count   : 12;
$g-cont-max-w  : 1050px;



// Breakpoints

$break-s: 480px;
$break-m: 768px;


$breakpoints: (
'sm' : 480px,
'med': 768px,
'lg' : 1024x,
)