.btn-- {
    
    &default {
        @extend %button;
        background-color: color('malibu');
        margin-top: 20px;       
        
    }
        
    &success {
        @extend %button;
        background-color: color('emerald');
    }

    &error {
        @extend %button;
        background-color: color('sunglo');
    }

    &warning {
        @extend %button;
        background-color: color('coral');
    }

    &info {
        @extend %button;
        background-color: color('east side');
    }
}
// .theme__colors {}