
.grid__row {
    margin-top: 40px;
    @include mq('med') {
    @include flexy;
    }
}
// Grid Columns

// Calculate grid columns
@include mq('med') {
    @for $i from 1 through $g-col-count {

        $context: g-context($g-col-width, $g-col-count, $g-gutter-width) !global;
        $target: ($g-col-width * $i) + ($g-gutter-width * ($i - 1));

        //Generate column modifier classes

        .grid__col--#{$i} {
            width: percentage($target / $context);
            
        }
    }
}

// Column styles

[class*='grid__col--'] {
    margin-top: 10px;
    
   
   

    @include mq('med') {
        @include doubly(percentage($g-gutter-width / $context));
        min-height: 1px;
        padding-left: 10px;
        padding-right: 10px;
    }
}   

// Grid theme colors

.theme__colors.grid {
    @include theme-colors($theme-color);
    color: black;
}

[class^='grid__col--'] {
    @extend %border-radius;
    padding: 10px;

    @include mq('med') {
        text-align: center;
    }
}

.centered {
    margin: 0 auto $margin-end;

    @include mq('med') {
        margin-bottom: 80px;
    }
}