
.nav {


    @include mq('med') {
        @include flexy($dir: row);
        margin-left: 20%;
        width: 60%;
        align-content: center;
    }
}



.nav__item {
    @include center(100%);
    text-decoration: none;
    margin-top: 10px;
    padding: 0 10px;
    text-decoration: none;    
    font-size: 1em;

    @include mq('med') {
    
    }
  
    
    & a {
        @extend %border-radius;
        display:block;
        text-decoration: none;
        text-align: center;
        height: 53px;
        line-height: 53px;
        width: 100%;
        padding: 0 10px;
        color: $color-text-primary; 
    
    }

    & a:hover {
        background-color: $accent-color;
        color: $white;
        transition-duration: $trans-time;
    }

    @include mq(medium) {
        @include flexy($dir: row);
        align-content: flex-end;
    }
}

