.container {
    @include center(100%);
    padding: 0 30px;
    text-align: left;
    max-width: $max-width;
    color: $color-text-primary;
}
.card{
    display:block;
    @include center(95%);
    margin-bottom: $margin-end;
    font-size: 1.1em;
    text-align: left;
}

.link {
    color: $link-color;
    font-weight: $font-weight-bold;
    text-decoration: none;
}

.blockquote {
    @include center(90%);
    font-size: 1.4em;
    font-style: italic;
    line-height: 1.4em;
    border-left: 10px solid $accent-color;
    border-radius: $br;
    margin-top: $margin-start;
    padding-left: 15px;
}

.headline--primary {
    color: $accent-color;
    padding: 0 0 20px 40px;
    font-size: 1.6em;
    width: 80%;
    line-height: 1.2em;
    font-weight: $font-weight-bold;
}

.headline--secondary {
    text-align: left;
    font-weight: $font-weight-light;
    margin-left: 15px;
}
