* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
 }
 
body {
    text-align: left;
    color: #9b9b9b;
    line-height: 1.4em;
}

 ul {
     list-style-type: none;
     padding: 0;
 }
 
 